<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MTServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MTServiceBehavior" name="MTWCFLibrary.MTServiceImp">
                <endpoint address="EndPoint2" binding="basicHttpBinding" bindingConfiguration=""
                    name="EndPoint2" contract="MTWCFLibrary.IMTService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:5813/MTService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>